* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.traffic-light {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
.light {
    margin: auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-size: 30px;
}
.red {
    background-color: rgba(255, 0, 0, 0.203);
}
.yellow {
    background-color: rgba(255, 255, 0, 0.193);
}
.green {
    background-color: rgba(0, 128, 0, 0.282);
}